body {
    background-color: rgba(0,0,0. .1);
    font: 1.1rem sans-serif;
    text-transform: uppercase;
    color: white;
}
.grid {
    padding: 1rem;
}
.grid-item {
    padding: 1.5rem;
    border-radius: 0.3rem;
    background-color: #E92763;
}
/*************************************/
.grid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 
        [start sidebar1-start] minmax(150px, 15%) 
        [sidebar1-end main-start] 1fr 
        [main-end sidebar2-start] minmax(150px, 15%)
        [sidebar2-end end];
    grid-template-rows: 
        [header] minmax(4rem, auto) 
        [main] 400px 
        [footer] minmax(4rem, auto) [end];
}

.header {
    grid-column: start/end;
}
.footer {
    grid-column: start/end;
}

@media screen and (max-width: 500px) {
    .grid {
        grid-template-columns: [start] 1fr [end];
        grid-template-rows: [header] minmax(4rem, auto) 
                            [sidebar] minmax(4rem, auto) 
                            [main] 400px 
                            [footer] minmax(4rem, auto) [end];        
    }
}

/************************************/